@font-face {
    font-family: Poppins;
    src: url(./assets/font/Poppins-Light.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: Poppins;
    font-weight: normal;
}
